@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Italiana&family=Nunito:wght@300&display=swap');
*:not(.sec, .sectwo, footer) {
    padding: 0;
    margin: 2vw 1.2vw;
}

body{
    background-color: #882727;
    font-size: 1.6vw;


}

#titles{
    color: white;
    text-align: center;
    font-size: 7vw;
    border: 20px #340f0f solid;
    padding: 2vw;
    margin-bottom: 150px;
    background-color: #651d1d;
    border-radius: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vw;
    font-family: "Nunito", sans-serif;


}

.sec{
    flex: 1;
    color: white;
    font-size: 2vw;
    padding: 5vw;
    text-align: center;
    font-weight: bold;
    box-shadow: 10px 10px  10px black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 7vw;
    background-color: #651d1d;
}
.sectwo{
    flex: 1;
    font-size:2vw;
    color: white;
    text-align: center;
    padding: 5vw;
    font-weight: bold;
    box-shadow: 10px 10px  10px black;
    background-color: #651d1d;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-left: 2px;
}
.hidden{
    color: white;
    opacity: 0;
    text-align: center;
    font-size: 100px;
    transition-duration: 4s;

    transform: translateY(200px)
}
.appear{
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 2s;
    margin-bottom: 200px;
}
#butt{
    font-family: "Italiana", sans-serif;
    font-size: 5.5vw;
    -webkit-text-stroke: 1px black

}
#spin{
    font-family: "Agbalumo", sans-serif;
    font-size: 5.3vw;

}
#butt, #spin {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20%;
    color: black;

    padding: 8%;

    opacity: 0.8;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#butt:hover, #spin:hover {
    opacity: 1;
    background-color: #ffffff;
    cursor: pointer
}

#start{
    padding: 10vw;
    background-color: #651d1d;
    border: 7vw #340f0f solid;
    border-radius: 6vw;
    margin-left: 0;
    margin-right: 0;
}
#choose{

    text-align: center;
    color: white;
    font-size: 60%;
    font-family: "Nunito", sans-serif;
}

.kms{


    background-color: white;
    padding: 100%;
}

#scroll{

    position: absolute;
    right: 2%;
    top: 40vw;
    height: 5vw;

}

#scroll:hover{
    color: gray;
}

.squiggly{

     margin-top: -10vw;
     margin-bottom: 300px;

     height: 200vw;
     width: 30vw;
     margin-left: 30vw;

 }

@media screen and (min-width: 100px) and (max-width: 400px){
    body{
        background-color: blue;
    }
    #titles{
        color: white;
        text-align: center;
        font-size: 7vw;
        border: 3vw #340f0f solid;
        padding: 2vw;
        margin-bottom: 15vw;
        background-color: #651d1d;
        border-radius: 40px;
    }
    .container{
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 25vw;
        font-family: "Nunito", sans-serif;
    }

    .sec, .sectwo{
        flex: 1;
        font-size: 4vw;
        margin: 2vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 5px 5px  5px black;

    }
    .squiggly{
        margin-top: -10vw;
        margin-bottom: 3vw;
        margin-left: 50px;
        height: 290vw;
        width: 70vw;}


    #scroll{

        position: absolute;
        right: 2%;
        top: 29%;
        width: 15vw;
        height: 10vw;


    }
    #choose{

        text-align: center;
        color: white;
        font-size: 7vw;
        font-family: "Nunito", sans-serif;
    }
    #butt, #spin {
        background-color: #FFFFFF;
        border: 2vw solid #FFFFFF;
        border-radius: 10vw;
        color: black;
        margin-bottom: 30px;
        padding: 4vw;

        opacity: 0.8;
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }

}

@media screen and (min-width: 400px) and (max-width: 1000px){
    body{
        background-color: green;
    }

    #titles{
        color: white;
        text-align: center;
        font-size: 7vw;
        border: 3vw #340f0f solid;
        padding: 2vw;
        margin-bottom: 15vw;
        background-color: #651d1d;
        border-radius: 40px;
    }
    .container{
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 25vw;
        font-family: "Nunito", sans-serif;
    }

    .sec, .sectwo{
        flex: 1;
        font-size: 2vw;
        margin: 2vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 5px 5px  5px black;

    }
    .squiggly{
        margin-top: -10vw;
        margin-bottom: 3vw;
        margin-left: 110px;
        height: 290vw;
        width: 70vw;}


    #scroll{

        position: absolute;
        right: 2vw;
        top: 60vw;
        width: 15vw;
        height: 10vw;


    }
    #choose{

        text-align: center;
        color: white;
        font-size: 7vw;
        font-family: "Nunito", sans-serif;
    }
}



























