@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Italiana&family=Nunito:wght@300&display=swap');
*:not(.sec, .sectwo, footer) {
    padding: 0;
    margin: 2vw 1.2vw;
}

body{
    background-color: #882727;
    font-size: 1.6vw;


}



#titles{
    color: white;
    text-align: center;
    font-size: 7vw;
    border: 1.5vw #340f0f solid;
    padding: 2vw;
    margin-bottom: 150px;
    background-color: #651d1d;
    border-radius: 4vw;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vw;
    font-family: "Nunito", sans-serif;


}

.sec{
    flex: 1;
    color: white;
    font-size: 2vw;
    padding: 5vw;
    text-align: center;
    font-weight: bold;
    box-shadow: 1vw 1vw  1vw black;
    border-bottom-left-radius: 3vw;
    border-top-left-radius: 3vw;
    margin-left: 7vw;
    background-color: #651d1d;
}
.sectwo{
    flex: 1;
    font-size:2vw;
    color: white;
    text-align: center;
    padding: 5vw;
    font-weight: bold;
    box-shadow: 1vw 1vw  1vw black;
    background-color: #651d1d;
    border-bottom-right-radius: 3vw;
    border-top-right-radius: 3vw;
    border-left: 2px;
}
.hidden{
    color: white;
    opacity: 0;
    text-align: center;
    font-size: 100px;
    transition-duration: 4s;

    transform: translateY(200px)
}
.appear{
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 2s;
    margin-bottom: 200px;
}
#butt{
    font-family: "Italiana", sans-serif;
    font-size: 2.5vw;
    -webkit-text-stroke: 1px black

}
#spin{
    font-family: "Agbalumo", sans-serif;
    font-size: 2.3vw;

}
#butt, #spin {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 2vw;
    color: black;

    padding: 8%;

    opacity: 0.8;
    transition: background-color 0.3s ease, opacity 0.3s ease;

}

#butt:hover, #spin:hover {
    opacity: 1;
    background-color: #ffffff;
    cursor: pointer;

}

#start{

    background-color: #651d1d;
    border: 1.5vw #340f0f solid;
    border-radius: 2vw;

}
#choose{

    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: "Nunito", sans-serif;
}

.kms{


    background-color: white;
    padding: 100%;
}

#scroll{

    position: absolute;
    right: 2%;
    top: 40vw;
    height: 5vw;

}

#scroll:hover{
    -webkit-filter: drop-shadow(4px 4px 5px  rgba(0,0,0,0.5));
}

.squiggly{

     margin-top: -10vw;
     margin-bottom: 300px;

     height: 200vw;
     width: 40vw;
     margin-left: 25vw

 }
.buttons{
    padding: 1vw;
    margin-bottom: 7vw;
}












@media screen and (min-width: 100px) and (max-width: 400px){

    #titles{
        color: white;
        text-align: center;
        font-size: 7vw;
        border: 1.5vw #340f0f solid;
        padding: 2vw;
        margin-bottom: 15vw;
        background-color: #651d1d;
        border-radius: 4vw;
    }
    .container{
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 25vw;
        font-family: "Nunito", sans-serif;
    }

    .sec, .sectwo{
        flex: 1;
        font-size: 4vw;
        margin: 2vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 1vw 1vw  1vw black;

    }
    .squiggly{
        margin-top: -10vw;
        margin-bottom: 3vw;
        margin-left: 50px;
        height: 290vw;
        width: 70vw;}


    #scroll{

        position: absolute;
        right: 2%;
        top: 55vw;
        width: 15vw;
        height: 10vw;


    }
    #choose{

        text-align: center;
        color: white;
        font-size: 7vw;
        font-family: "Nunito", sans-serif;
    }
    #butt, #spin {
        background-color: #FFFFFF;
        border: 2vw solid #FFFFFF;
        border-radius: 10vw;
        color: black;
        margin-bottom: 30px;
        padding: 2vw;

        opacity: 0.8;
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }
    #butt{
        font-family: "Italiana", sans-serif;
        font-size: 3.5vw;
        -webkit-text-stroke: 0.2vw black;


    }
    #spin{
        font-family: "Agbalumo", sans-serif;
        font-size: 3.3vw;

    }


}







@media screen and (min-width: 400px) and (max-width: 1000px){


    #titles{
        color: white;
        text-align: center;
        font-size: 7vw;
        border: 1.5vw #340f0f solid;
        padding: 2vw;
        margin-bottom: 15vw;
        background-color: #651d1d;
        border-radius: 4vw;
    }
    .container{
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 25vw;
        font-family: "Nunito", sans-serif;
    }

    .sec, .sectwo{
        flex: 1;
        font-size: 3.5vw;
        margin: 2vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 5px 5px  5px black;

    }
    .squiggly{
        margin-top: -10vw;
        margin-bottom: 3vw;
        margin-left: 10vw;
        height: 290vw;
        width: 70vw;}


    #scroll{

        position: absolute;
        right: 2vw;
        top: 60vw;
        width: 15vw;
        height: 10vw;


    }
    #choose{

        text-align: center;
        color: white;
        font-size: 7vw;
        font-family: "Nunito", sans-serif;
    }
    #start{
        text-align: center;

        background-color: #651d1d;
        border: 1.5vw #340f0f solid;
        border-radius: 6vw;

    }

    #butt, #spin {
        background-color: #FFFFFF;
        border: 4vw solid #FFFFFF;
        border-radius: 10vw;
        color: black;

        padding: 6vw;

        opacity: 0.8;
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }
    #butt{
        font-family: "Italiana", sans-serif;
        font-size: 3.5vw;
        -webkit-text-stroke: 0.2vw black

    }
    #spin{
        font-family: "Agbalumo", sans-serif;
        font-size: 3.3vw;

    }
}




footer {
    background-color: #651d1d;
    border: 1.5vw #340f0f solid;
    border-radius: 2vw;
    padding: 2vw 0; /* Adjusted from 20px to 2vw */
    color: white;
    text-align: center;
}

.footer-container {
    max-width: 100vw; /* Adjusted from 1200px to 100vw for full viewport width */
    margin: 0 auto;
    padding: 0 1.5vw; /* Adjusted from 15px to 1.5vw */
}

.footer-links {
    margin-bottom: 2vw; /* Adjusted from 20px to 2vw */
}

.footer-links a {
    margin-right: 2vw; /* Adjusted from 20px to 2vw */
    color: white; /* No change needed */
    text-decoration: none;
}

.footer-credits {
    color: white;
    font-size: 1.4vw; /* Adjusted from 14px to 1.4vw */
}

.footer-credits p {
    margin: 0;
}


/*
TOOLTIPS
 */


.buttons button {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    font-size: 1vw;
    font-family: Arial sans-serif;
    -webkit-text-stroke: 0vw black;

    visibility: hidden;
    width: 4vw;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6vw;
    padding: 2vw;
    position: absolute;
    bottom: 10vw;


    border-bottom-left-radius: 0px;
    user-select: none;
    pointer-events: none;
    opacity: 1;
    transition: visibility 0.1s;
}



.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: -1.2vw;
    top: -2vw;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 5vw;
    border: 1vw solid #231515;
    width: 30%;

}


.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.Tutorial, .Skip{
    margin-left: 40px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 2vw;
    color: black;
    padding: 1vw;
    opacity: 0.8;
    transition: opacity 1s;

}

#TutInput{
    padding: 1vw;
    font-size: 10vw;
}

#image {
    position:absolute;
    width: 6vw;
    top: 1vw;
    rotate: 90deg;

}  .Tutorial:hover, .Skip:hover {
    opacity: 1;
    background-color: #ffffff;
    cursor: pointer;

}

#conti{
    text-align: center;
   }















